*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	user-select: none;
	box-sizing: border-box;
}

@import 'fonts';

.hidden {
	display: none;
}

:root {
	--index: calc(1vw + 1vh);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #62a4cd #222;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: #222;
}

*::-webkit-scrollbar-thumb {
  background-color: #62a4cd;
  border-radius: 0px;
  border: 5px solid #62a4cd;
}

html, body {
	position: relative;
	width: 100%;
	font-family: 'Gilroy';
	font-size: 18px;
	line-height: 20px;
	background-color: #222;
}

.page {
	position: relative;
	width: 1480px;
	height: 94vh;
	min-height: 700px;
	margin: 3vh auto;
	padding: 100px 40px 40px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	background-color: #333;

	@media screen and (max-width: 1500px) {
		width: 90%;
		flex-wrap: wrap;
		height: auto;
	}

	@media screen and (max-width: 768px) {
		padding-top: 150px;
	}

	@media screen and (max-width: 650px) {
		padding-top: 170px;
	}

	@media screen and (max-width: 650px) {
		padding: 170px 20px 20px;
	}

	@media screen and (max-width: 450px) {
		padding-top: 190px;
	}
}

.back-link {
	position: absolute;
	top: 25px;
	left: 40px;
	display: block;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 20px;
	padding: 14px 20px;
	background: #ffbc24;
	transition: .3s;

	&:hover {
		background-color: #ffb203;
	}

	@media screen and (max-width: 1500px) {
		padding: 20px;
	}

	@media screen and (max-width: 768px) {
		width: calc(100% - 80px);
	}

	@media screen and (max-width: 650px) {
		width: calc(100% - 40px);
		left: 20px;
	}
}

.send-link {
	position: absolute;
	bottom: 25px;
	right: 40px;
	display: block;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 20px;
	padding: 20px 30px;
	background: #ffbc24;
	transition: .3s;

	&:hover {
		background-color: #ffb203;
	}

	span {
		font-size: 15px;
	}

	@media screen and (max-width: 1500px) {
		top: 25px;
		right: 40px;
		bottom: auto;
	}

	@media screen and (max-width: 768px) {
		width: calc(100% - 80px);
		top: 100px;
		right: auto;
		left: 40px;
	}

	@media screen and (max-width: 650px) {
		width: calc(100% - 40px);
		left: 20px;
	}

	span {
		@media screen and (max-width: 575px) {
			display: block;
			padding-top: 5px;
		}

		@media screen and (max-width: 450px) {
			font-size: 13px;
		}
	}
}

.left {
	max-width: 535px;
	flex: 1 1 535px;
	padding: 40px 20px 20px;
	overflow: hidden;
	background-color: #3c3c3c;

	@media screen and (max-width: 1500px) {
		width: 100%;
		max-width: 100%;
		flex: 1 1 100%;

		order: 1;
		margin-top: 70px;
	}
}

.right {
	max-width: 720px;
	flex: 1 1 720px;
	overflow: hidden;

	@media screen and (max-width: 1500px) {
		width: 100%;
		max-width: 100%;
		flex: 1 1 100%;

		margin-top: 40px;
	}
}

.title {
	color: #62a4cd;
	margin-bottom: 20px;
}

// category 

.category {

	margin-bottom: 50px;

	&__container {
		position: relative;
	}

	&__active {
		position: relative;
	    padding: 10px;
	    background-color: #444;
	    color: #eee;
	    background-image: url('../images/icons/plus.svg');
	    background-position: 98% center;
	    background-repeat: no-repeat;
	    cursor: pointer;
	}

	&__list-container {
		display: none;
		overflow-y: scroll;
		height: 68vh;

		position: absolute;
	    top: 45px;
	    left: 0;
	    width: 100%;
	    padding: 20px 20px 30px 20px;
	    color: #eee;
	    background: #444;
	

		&.active {
			display: block;
			z-index: 2;
		}
	}

	&__list {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    padding: 20px 20px 30px 20px;
	    color: #eee;
	    background: #444;
	}

	&__element {
		position: relative;
		padding: 10px 10px 10px 0;
		cursor: pointer;
		border-bottom: 2px solid #3c3c3c;
		transition: .3s;

		&:hover {
			border-bottom: 2px solid #62a4cd;
		}
	}
}


// gallery

.gallery {
	position: relative;
	height: 570px;
	overflow: hidden;

	.title {
		padding-bottom: 20px;
	}

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 20px;
		background-color: #444;
		position: absolute;
		top: 40px;
		left: 0;
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 20px;
		background-color: #444;
		position: absolute;
		bottom: 50px;
		left: 0;
	}

	&__list-container {
		position: relative;
		overflow-y: scroll;
		height: calc(100% - 130px);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: space-between;
		gap: 15px;
		padding: 20px;
		background-color: #444;

		@media screen and (max-width: 1500px) {
			gap: 15px;
			justify-content: center;
		}

		@media screen and (max-width: 900px) {
			
			
		}

	}

	&__element {
		width: calc(33.333% - 10px);
		height: 90px;
		background-color: #fff;
		border-radius: 5px;
		cursor: pointer;

		@media screen and (max-width: 1500px) {
			width: calc(720px / 4.5);
			height: calc(450px / 4.5);
		}

		@media screen and (max-width: 1300px) {
			width: calc(720px / 3.2);
			height: calc(450px / 3.2);
		}

		@media screen and (max-width: 1200px) {
			width: calc(720px / 3);
			height: calc(450px / 3);
		}

		@media screen and (max-width: 1100px) {
			width: calc(720px / 3.4);
			height: calc(450px / 3.4);
		}

		@media screen and (max-width: 900px) {
			width: calc(720px / 4);
			height: calc(450px / 4);
			margin-bottom: 0;
		}

		@media screen and (max-width: 576px) {
			width: calc(720px / 2);
			height: calc(450px / 2);
		}

		@media screen and (max-width: 500px) {
			width: calc(var(--index) * 25);
			height: calc(var(--index) * 15);
		}

		@media screen and (max-width: 450px) {
			width: calc(var(--index) * 23);
			height: calc(var(--index) * 14);
		}

		@media screen and (max-width: 420px) {
			width: calc(var(--index) * 21);
			height: calc(var(--index) * 13);
		}

		@media screen and (max-width: 376px) {
			width: calc(var(--index) * 19);
			height: calc(var(--index) * 12);
		}

		@media screen and (max-width: 350px) {
			width: calc(var(--index) * 17);
			height: calc(var(--index) * 11);
		}

		/* @media screen and (max-width: 1400px) {
			width: calc(var(--index) * 8);
			height: calc(var(--index) * 5);
		}

		@media screen and (max-width: 1200px) {
			width: calc(var(--index) * 9.5);
			height: calc(var(--index) * 6);
		}

		@media screen and (max-width: 1100px) {
			width: calc(var(--index) * 9);
			height: calc(var(--index) * 6);
		}

		@media screen and (max-width: 1000px) {
			width: calc(var(--index) * 8);
			height: calc(var(--index) * 5);
		}

		@media screen and (max-width: 900px) {
			width: calc(var(--index) * 7.5);
			height: calc(var(--index) * 5);
		}

		@media screen and (max-width: 800px) {
			width: calc(var(--index) * 9);
			height: calc(var(--index) * 6);
		}

		@media screen and (max-width: 700px) {
			width: calc(var(--index) * 13);
			height: calc(var(--index) * 8);
		}

		@media screen and (max-width: 600px) {
			width: calc(var(--index) * 27);
			height: calc(var(--index) * 17);
		} */

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

// color

.color {

	width: 100%;
	height: 25px;

	&__list {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		padding-left: 2px;
	}

	&__item {
		width: 25px;
		height: 25px;
		border: 2px solid #555;
		cursor: pointer;

		&.active {
			transform: scale(1.2);
		}

		&.black-silver {
			background: linear-gradient(to bottom right, #040404 0%, #040404 50%, #DFDFDF 50%, #DFDFDF 100%)
		}

		&.black-gold {
			background: linear-gradient(to bottom right, #040404 0%, #040404 50%, #F3CB5B 50%, #F3CB5B 100%);
		}

		&.gold-mirror {
			background: linear-gradient(to bottom right, #FED760 0%, #9E761B 50%, #DFDFDF 50%, #DFDFDF 100%);
		}

		&.gold-mirror-black {
			background: linear-gradient(to bottom right, #FED760 0%, #9E761B 50%, #040404 50%, #040404 100%);
		}

		&.black-gold-rib {
			background: linear-gradient(113.06deg, #646464 7.79%, #393939 50.37%, #6F6F6F 96.64%);
		}

		&.silver-white {
			background: linear-gradient(to bottom right, #bfbbb0 0%, #bfbbb0 50%, #ffffff 50%, #ffffff 100%);
		}

		&.silver-black {
			background: linear-gradient(to bottom right, #bfbbb0 0%, #bfbbb0 50%, #000000 50%, #000000 100%);
		}

		&.gold-white {
			background: linear-gradient(to bottom right, #b48811 0%, #b48811 50%, #ffffff 50%, #ffffff 100%);
		}

		&.gold-black {
			background: linear-gradient(to bottom right, #b48811 0%, #b48811 50%, #000000 50%, #000000 100%);
		}

		&.rose-white-mirror {
			background: linear-gradient(to bottom right, #976a53 0%, #976a53 50%, #ffffff 50%, #ffffff 100%);
		}

		&.rose-black-mirror {
			background: linear-gradient(to bottom right, #976a53 0%, #976a53 50%, #000000 50%, #000000 100%);
		}

		&.rainbow-white-mirror {
			    background: linear-gradient(to bottom right, #E60012 7%, #F39800 14%, #FFF100 21%, #009944 28%, #0068B7 35%, #1D2088 42%, #CFA7CD 50%, #ffffff 50%, #ffffff 100%);
		}

		&.rainbow-black-mirror {
			    background: linear-gradient(to bottom right, #E60012 7%, #F39800 14%, #FFF100 21%, #009944 28%, #0068B7 35%, #1D2088 42%, #CFA7CD 50%, #000000 50%, #000000 100%);
		}

		&.silver-white-mirror {
			background: linear-gradient(to bottom right, #C0C0C0 0%, #C0C0C0 50%, #ffffff 50%, #ffffff 100%);
		}

		&.silver-black-mirror {
			background: linear-gradient(to bottom right, #C0C0C0 0%, #C0C0C0 50%, #000000 50%, #000000 100%);
		}

		&.blue-card {
			background: linear-gradient(130.61deg, #1C55A2 0%, #547EB8 100%);
		}

		&.pink-card {
			background: linear-gradient(130.61deg, #FFC0CB 0%, #FFC0CB 50%, #FFC0CB 100%);
		}

	} // color-item
} // color


.card {
	position: relative;
	width: 720px;
	height: 450px;
	border-radius: 10px;
	margin-top: 70px;

	@media screen and (max-width: 900px) {
		width: calc(100%);
	}

	@media screen and (max-width: 850px) {
		height: 420px;
	}

	@media screen and (max-width: 800px) {
		height: 390px;
		margin-top: 100px;
	}

	@media screen and (max-width: 750px) {
		height: 360px;
	}

	@media screen and (max-width: 700px) {
		height: 330px;
	}

	@media screen and (max-width: 650px) {
		height: 315px;
	}

	@media screen and (max-width: 600px) {
		height: 285px;
		margin-top: 120px;
	}

	@media screen and (max-width: 550px) {
		height: 260px;
	}

	@media screen and (max-width: 500px) {
		height: 240px;
	}

	@media screen and (max-width: 450px) {
		height: 225px;
	}

	@media screen and (max-width: 400px) {
		height: 205px;
		margin-top: 130px;
	}

	@media screen and (max-width: 350px) {
		height: 190px;
	}

	&__chip {
		width: 11.9048%;
    	height: 15.0943%;
   		position: absolute;
	    top: 30.9%;
	    left: 10.59%;
	    z-index: 400;
	    user-select: none;
	    pointer-events: none;	
   	}

   	&__image {
   		width: 100%;
   		height: 100%;

 		img {
 			width: 100%;
 			height: 100%;
 			object-fit: cover;
 			object-position: center;
 		}
   	}


	&.black-silver {
		background: linear-gradient(113.06deg, #040404 7.79%, #2D2E2E 50.83%, #040404 96.64%);
		color: #f2f2f2;

		.card__image img {
			color: transparent;
   			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
		}
	}

	&.black-gold {
		color: #d5b869;
	    background: linear-gradient(113.06deg, #040404 7.79%, #2D2E2E 50.83%, #040404 96.64%);

	    .card__image img {
	    	color: transparent;
    		filter: invert(71%) sepia(54%) saturate(330%) hue-rotate(6deg) brightness(95%) contrast(88%);
	    }
	}

	&.gold-mirror {
		color: #f2f2f2;
	    background: linear-gradient(113.06deg, #A87234 7.79%, #FED760 30.47%, #AB7F42 55%, #D1A751 78.6%, #A0763C 96.64%);
	
	    .card__image img {
			color: transparent;
   			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
		}
	}

	&.gold-mirror-black {
		color: #202020;
	    background: linear-gradient(113.06deg, #A87234 7.79%, #FED760 30.47%, #AB7F42 55%, #D1A751 78.6%, #A0763C 96.64%);
	}

	&.black-gold-rib {
		color: #d5b869;
	    background: url('../images/cards_bg/black-rib-back.jpg') 0 0 / cover no-repeat;

	    .card__image img {
	    	color: transparent;
    		filter: invert(71%) sepia(54%) saturate(330%) hue-rotate(6deg) brightness(95%) contrast(88%);
	    }
	}

	&.silver-white {
		color: #f2f2f2;
	    background: linear-gradient(161deg, #bfbbb0 0%, #bfbbb0 50%, #bfbbb0 100%);

	    .card__image img {
	    	color: transparent;
			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
	    }
	}

	&.silver-black {
		color: #f2f2f2;
	    background: linear-gradient(161deg, #bfbbb0 0%, #bfbbb0 50%, #bfbbb0 100%);

	    .card__image img {
	    	color: transparent;
	    }
	}

	&.gold-white {
		color: #b48811;
	    background: linear-gradient(161deg, #b48811 0%, #b48811 50%, #b48811 100%);

	    .card__image img {
	    	color: transparent;
			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
	    }
	}

	&.gold-black {
		color: #f2f2f2;
	    background: linear-gradient(161deg, #b48811 0%, #b48811 50%, #b48811 100%);

	    .card__image img {
	    	color: transparent;
	    }
	}

	&.rose-white-mirror {
		color: #976a53;
	    background: linear-gradient(173deg, #976a53 0%, #e7ccbb 50%, #976a53 100%);

	    .card__image img {
	    	color: transparent;
			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
	    }
	}

	&.rose-black-mirror {
		color: #976a53;
	    background: linear-gradient(173deg, #976a53 0%, #e7ccbb 50%, #976a53 100%);

	    .card__image img {
	    	color: transparent;
	    }
	}

	&.rainbow-white-mirror {
		color: #f2f2f2;
	    background: linear-gradient(173deg, #E60012 14%, #F39800 28%, #FFF100 42%, #009944 56%, #0068B7 70%, #1D2088 84%, #CFA7CD 100%);
	
	    .card__image img {
	    	color: transparent;
			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
	    }
	}

	&.rainbow-black-mirror {
		color: #f2f2f2;
	    background: linear-gradient(173deg, #E60012 14%, #F39800 28%, #FFF100 42%, #009944 56%, #0068B7 70%, #1D2088 84%, #CFA7CD 100%);
	
	   .card__image img {
	    	color: transparent;
	    }
	}

	&.silver-white-mirror {
		color: #f2f2f2;
   		background: linear-gradient(161deg, #C0C0C0 0%, #C0C0C0 50%, #C0C0C0 100%);

   		.card__image img {
   			color: transparent;
			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
   		}
	}

	&.silver-black-mirror {
		color: #f2f2f2;
    	background: linear-gradient(161deg, #C0C0C0 0%, #C0C0C0 50%, #C0C0C0 100%);

    	.card__image img {
   			color: transparent;
   		}
	}

	&.blue-card {
		color: #f2f2f2;
   		background: linear-gradient(130.61deg, #0441B7 0%, #5BB2E2 50%, #044CB7 100%);

   		.card__image img {
			color: transparent;
   			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
		}
	}

	&.pink-card {
		color: #FFC0CB;
    	background: linear-gradient(130.61deg, #FFC0CB 0%, #FFC0CB 50%, #FFC0CB 100%);

    	.card__image img {
			color: transparent;
   			filter: invert(100%) sepia(1%) saturate(3006%) hue-rotate(241deg) brightness(115%) contrast(90%);
		}
	}

}